// Variables
@background-color: #f4f4f4;
@font-family: Tahoma;
@primary-color: #3b5998;
@secondary-color: #20b2aa;
@line-height: 1em + 1em;

body {
  font-family: @font-family;
  background:@background-color;
  line-height: @line-height;
}

.primary-text {
  color: @primary-color;
}

.btn {
  padding: 10px 15px;
  border: 0;  
}

.primary-btn:extend(.btn) {
  background: @primary-color;
  color: #fff;
}